* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

aside {
  padding: 10px;
  width: 250px;
  border-right: 1px solid #111;
}

button {
  background-color: wheat;
  cursor: pointer;
  border: solid 1px #111;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 600;
}

aside button p{
  display: none;
}

main {
  flex: 1;
  padding: 10px 20px;
}

h2 {
  border-bottom: 1px solid #111;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 20px;
}

h3 {
  background-color: white;
  border-bottom: 1px solid #111;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 20px 0 0;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 756px){
  aside{
    width: 90px;
  }

  .container{
    padding: 1px;
  }

  aside button{
    padding: 0;
    font-size: 13px;
  }

  .text-factures{
    display: none;
  }

  aside button p{
    display: block;
  }

  .person{
    font-size: 15px;
  }
}